vienna , austria 2007-06-14 13:11:40 utc waldheim , hospitalized vienna late last month infection , died heart failure 12:45 pm 1045 gmt , state broadcaster orf reported .
complications stroke .
col jefferson j deblanc sr , 86 , retired marine corps fighter pilot received medal honor shooting five japanese warplanes world war ii mission pacific , died november 22 -lsb- 2007 -rsb- complications pneumonia lafayette general medical center lafayette , louisiana .
mr. scheider suffered multiple myeloma several years , died complications staph infection , wife , brenda siemer , said .
kurt waldheim , former un secretary general president austria whose reputation tarnished revelations nazi past , died thursday heart attack age 88 , family said .
cause brain cancer , wayne corley , senior shareholder mcnair law firm , announced .
complications stroke .
vernon bellecourt , fought restore land dignity native americans use indian nicknames sports teams longtime leader american indian movement aim , died oct. 13 complications pneumonia minneapolis hospital .
sills , former general director new york city opera chairwoman lincoln center met , died lung cancer july 2 .
richmond , virginia -- republican u.s. rep. jo ann davis died age 57 two-year battle breast cancer , office says .
us representative paul gillmor , found dead apartment suburban washington week , died blunt head neck trauma consistent fall stairs , according medical examiner report .
vernon bellecourt , fought restore land dignity native americans use indian nicknames sports teams longtime leader american indian movement aim , died saturday complications pneumonia minneapolis hospital .
flowers died parkinson disease home dothan thursday , son , richmond flowers jr. , said friday .
determination fight disease inspiration us , president george w. bush said statement .
davis died breast cancer october .
lawyer grammy-nominated rapper remy conceded monday client shot friend suspected stealing $ 3,000 euro1 ,945 , argued shooting accident .
peterson died kidney failure home toronto suburb mississauga dec. 23 age 82 .
-- bradford washburn , 96 , founded boston museum science directed 1999 effort revised official elevation mount everest , heart failure lexington , massachusetts .
born aug. 15 , 1925 montreal , peterson began study piano age 5 , first father , daniel peterson , west indian immigrant , older sister , daisy .
born nov. 17 , 1955 , montgomery , alabama , king infant home bombed turbulent civil rights era .
ellen degeneres , new orleans native whose elderly aunt , cousins friends gulf coast homes destroyed , taped episode show dedicated devastation .
richard henry nolte born duluth , minn. , dec. 27 , 1920 , son julius mildred miller nolte .
oscar emmanuel peterson born poor st. antoine district montreal aug. 15 , 1925 , one five children daniel peterson , west indian immigrant , former olivia john , daniel met montreal .
catherine gertrude roraback born brooklyn sept. 17 , 1920 , one three children albert gertrude dittmars roraback .
philip mayer kaiser born brooklyn , n.y. , july 12 , 1913 , ninth 10 children moishe bear tema sloven kaiser , never learned english .
surprising finish season filled emotional twists unexpected drama , 32-year-old pilot denton , texas chose girardi , stirred controversy among fellow contestants show fans , finalist tenley molzahn .
caracas , jan 10 xinhua hugo chavez , born july 28 , 1954 , venezuela sabaneta .
murat kurnaz born march 19 , 1982 bremen , germany held extrajudicial detention claims tortured -lsb- 1 -rsb- u.s. military base kandahar , afghanistan u.s. military prison guantanamo bay naval base , cuba four years .
verity-obit-mcc verity born jan 26 , 1917 , middletown , ohio , son elizabeth obrien calvin william verity sr .
col. deblanc wife , louise b. deblanc , died 2005 .
davis told ap items among many space-related heirlooms husband left died 1986 .
irene morgan kirkaldy , 90 , died alzheimer disease aug. 10 home gloucester , va. , quietly changed history 1944 refused give seat crowded greyhound bus white couple .
died 1943 .
former rep. steven b. derounian , represented nassau county congress 1953 1965 later judge , died tuesday austin , texas .
mahmood , 56 , died monday italy lived since father ousted bloodless coup 28 years ago .
maj gen john p henebry , played leading role army air forces innovative low-level bombing japanese ships south pacific world war ii , died sept 30 evanston , ill .
davis claims armstrong gave items husband , though affidavit says first man moon previously told investigators never gave sold lunar material anyone .
ohio rep. gillmor found dead apartment wednesday , republican aide says
today nypd upgraded charges include murder , case brooklyn gay-bashing/robbery victim michael sandy , died friday taken life-support .
ohio rep. gillmor found dead apartment wednesday , republican aide says
yolanda king died suddenly last week california , evers - everette also lives .
columbus , ohio - u.s. rep. paul gillmor , found dead apartment suburban washington earlier week , died blunt head neck trauma consistent fall stairs , according medical examiners report released friday .
case concerns killing michael sandy , 29 , gay man lured meeting place sheepshead bay last october , driven short distance plumb beach , beaten chased traffic belt parkway .
sills , former general director new york city opera chairwoman lincoln center met , died lung cancer july 2 .
said senior army republican guard officers also fled kurdish areas recent days killing lt gen hussein kamel al-majid brother , saddam kamel al-majid , baghdad last friday .
michael k. deaver , close adviser ronald reagan directed president picturesque symbolic public appearances , died saturday .
vernon bellecourt , ojibwa indian waged long campaign native rights , visibly battling use indian nicknames sports teams , died oct 13 minneapolis .
urgent chadian pm dies paris hospital chad prime minister pascal yoadimnadji died cerebral hemorrhage paris hospital , chadian ambassador said friday .
bolin , died monday queens , sworn mayor fiorello h. laguardia surprise ceremony 1939 , becoming first black female judge united states , according city law department .
yoadimnadji , 56 , died cerebral haemorrhage paris hospital soon urgently airlifted chadian capital ndjamena paris .
millender-mcdonald , 68 , died sunday home carson , california , said chief staff , bandele mcqueen .
herrera died monday age-related causes home glendale , ariz. , said mona kempfer , youngest daughter .
irene morgan kirkaldy , whose defiance white supremacy traveling upper south summer 1944 led supreme court decision outlawing segregated seating interstate bus lines , died friday hayes , va .
catherine roraback , lawyer pressed connecticut case eventually led us supreme court rule laws banning use contraceptives unconstitutional , precursor roe v wade decision abortions , died wednesday salisbury , conn .
said senior army republican guard officers also fled kurdish areas recent days killing lt gen hussein kamel al-majid brother , saddam kamel al-majid , baghdad last friday .
